In [1]:
import pandas as pd
import pickle
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv('Churn_Modelling.csv')

In [3]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [5]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [6]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [8]:
x=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [10]:
with open('label_encoder_gender_r.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo_r.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler_r.pkl','wb') as file:
    pickle.dump(scaler,file)

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [12]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])

d:\anaconda3\envs\tf310\lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [13]:
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [14]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_directory="regression/fit/"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_directory,histogram_freq=1)

In [17]:
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=12,restore_best_weights=True)

In [18]:
history=model.fit(x_train,y_train,validation_data=(x_test,y_test),epochs=100,callbacks=[early_stopping_callback,tensorboard_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 100091.1016 - mae: 100091.1016 - val_loss: 98530.1562 - val_mae: 98530.1562
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 100558.5156 - mae: 100558.5156 - val_loss: 97142.4609 - val_mae: 97142.4609
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 97304.4688 - mae: 97304.4688 - val_loss: 93580.1719 - val_mae: 93580.1719
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 93191.1484 - mae: 93191.1484 - val_loss: 87578.7266 - val_mae: 87578.7266
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 87358.8672 - mae: 87358.8672 - val_loss: 79658.0938 - val_mae: 79658.0938
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 78376.7109 - mae: 78376.7109 - val_loss: 71086.6172 - val_mae: 71086.6172
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 70091.5625 - mae: 70091.5625 - val_loss: 63305.3125 - val_mae: 63305.3125
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 62250.9219 - mae: 62250.9219 - val_loss: 57274.0781 - val_mae: 57274.0781
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 57879.3555 - mae: 57879.3555 - val_loss: 53618.1992 - val_mae: 53618.1992
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 53052.2617 - mae: 53052.2617 - val_loss: 51781.1562 - val_mae: 51781.1562
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50825.6445 - mae: 50825.6445 - val_loss: 51097.6328 - val_mae: 51097.6328
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50605.7578 - mae: 50605.7578 - val_loss: 50902.3438 - val_mae: 50902.3438
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50869.6602 - mae: 50869.6602 - val_loss: 50828.8516 - val_mae: 50828.8516
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50316.7891 - mae: 50316.7891 - val_loss: 50780.3945 - val_mae: 50780.3945
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50341.1641 - mae: 50341.1641 - val_loss: 50752.9258 - val_mae: 50752.9258
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50556.9102 - mae: 50556.9102 - val_loss: 50724.7266 - val_mae: 50724.7266
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49907.2422 - mae: 49907.2422 - val_loss: 50695.6758 - val_mae: 50695.6758
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50514.5781 - mae: 50514.5781 - val_loss: 50667.2383 - val_mae: 50667.2383
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50474.3867 - mae: 50474.3867 - val_loss: 50641.6172 - val_mae: 50641.6172
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50087.5664 - mae: 50087.5664 - val_loss: 50636.0547 - val_mae: 50636.0547
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50300.4414 - mae: 50300.4414 - val_loss: 50603.6992 - val_mae: 50603.6992
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49791.2227 - mae: 49791.2227 - val_loss: 50585.8867 - val_mae: 50585.8867
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50264.3008 - mae: 50264.3008 - val_loss: 50570.9961 - val_mae: 50570.9961
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49929.3164 - mae: 49929.3164 - val_loss: 50555.5273 - val_mae: 50555.5273
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50090.6758 - mae: 50090.6758 - val_loss: 50554.8477 - val_mae: 50554.8477
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49788.7734 - mae: 49788.7734 - val_loss: 50534.2148 - val_mae: 50534.2148
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49728.2852 - mae: 49728.2852 - val_loss: 50526.1016 - val_mae: 50526.1016
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50439.6367 - mae: 50439.6367 - val_loss: 50537.2656 - val_mae: 50537.2656
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49397.8672 - mae: 49397.8672 - val_loss: 50502.0938 - val_mae: 50502.0938
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49583.3867 - mae: 49583.3867 - val_loss: 50500.3516 - val_mae: 50500.3516
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49845.4727 - mae: 49845.4727 - val_loss: 50490.3398 - val_mae: 50490.3398
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49615.4492 - mae: 49615.4492 - val_loss: 50483.8906 - val_mae: 50483.8906
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49341.8984 - mae: 49341.8984 - val_loss: 50473.2031 - val_mae: 50473.2031
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49484.5742 - mae: 49484.5742 - val_loss: 50475.9961 - val_mae: 50475.9961
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50243.2344 - mae: 50243.2344 - val_loss: 50460.8633 - val_mae: 50460.8633
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49740.0508 - mae: 49740.0508 - val_loss: 50457.3633 - val_mae: 50457.3633
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49335.9922 - mae: 49335.9922 - val_loss: 50456.2422 - val_mae: 50456.2422
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49498.4805 - mae: 49498.4805 - val_loss: 50451.6328 - val_mae: 50451.6328
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49200.2969 - mae: 49200.2969 - val_loss: 50449.0312 - val_mae: 50449.0312
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49338.8047 - mae: 49338.8047 - val_loss: 50435.9844 - val_mae: 50435.9844
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49548.1133 - mae: 49548.1133 - val_loss: 50438.1914 - val_mae: 50438.1914
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49515.9844 - mae: 49515.9844 - val_loss: 50432.7734 - val_mae: 50432.7734
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49414.3711 - mae: 49414.3711 - val_loss: 50431.2773 - val_mae: 50431.2773
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49921.4570 - mae: 49921.4570 - val_loss: 50432.7734 - val_mae: 50432.7734
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49873.1875 - mae: 49873.1875 - val_loss: 50429.4688 - val_mae: 50429.4688
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49153.7539 - mae: 49153.7539 - val_loss: 50422.3477 - val_mae: 50422.3477
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49675.8008 - mae: 49675.8008 - val_loss: 50424.8320 - val_mae: 50424.8320
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49442.9023 - mae: 49442.9023 - val_loss: 50412.2344 - val_mae: 50412.2344
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50031.0039 - mae: 50031.0039 - val_loss: 50413.4062 - val_mae: 50413.4062
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49371.0625 - mae: 49371.0625 - val_loss: 50407.7617 - val_mae: 50407.7617
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49918.1367 - mae: 49918.1367 - val_loss: 50411.6680 - val_mae: 50411.6680
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48933.1602 - mae: 48933.1602 - val_loss: 50412.0859 - val_mae: 50412.0859
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49566.4492 - mae: 49566.4492 - val_loss: 50419.2773 - val_mae: 50419.2773
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49357.2656 - mae: 49357.2656 - val_loss: 50402.9336 - val_mae: 50402.9336
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49359.7070 - mae: 49359.7070 - val_loss: 50413.2539 - val_mae: 50413.2539
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49414.1211 - mae: 49414.1211 - val_loss: 50417.3945 - val_mae: 50417.3945
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49459.6250 - mae: 49459.6250 - val_loss: 50410.6914 - val_mae: 50410.6914
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49122.6484 - mae: 49122.6484 - val_loss: 50413.3555 - val_mae: 50413.3555
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49468.7188 - mae: 49468.7188 - val_loss: 50410.5664 - val_mae: 50410.5664
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49193.1562 - mae: 49193.1562 - val_loss: 50416.3086 - val_mae: 50416.3086
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49186.3789 - mae: 49186.3789 - val_loss: 50415.7773 - val_mae: 50415.7773
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50030.4531 - mae: 50030.4531 - val_loss: 50418.8477 - val_mae: 50418.8477
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49857.3516 - mae: 49857.3516 - val_loss: 50417.2891 - val_mae: 50417.2891
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49274.1484 - mae: 49274.1484 - val_loss: 50407.7773 - val_mae: 50407.7773
Epoch 65/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49798.4570 - mae: 49798.4570 - val_loss: 50413.9297 - val_mae: 50413.9297
Epoch 66/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49440.6406 - mae: 49440.6406 - val_loss: 50407.8125 - val_mae: 50407.8125

In [19]:
%load_ext tensorboard

In [26]:
%tensorboard --logdir regression/fit

Reusing TensorBoard on port 6007 (pid 22256), started 0:00:22 ago. (Use '!kill 22256' to kill it.)

In [27]:
test_loss,test_mae=model.evaluate(x_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51203.1992 - mae: 51203.1992
Test MAE : 50402.93359375

In [28]:
model.save('regression.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.